@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&family=Readex+Pro:wght@200;300;500&display=swap');

.App {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Readex Pro'
}

p, Button {
  font-weight: 200;
}
